body{
    background-color:#f2f9fa;
    font-size: 14px;
    padding-top: 80px;
    margin: 0px;
    font-family: 'Heebo', sans-serif;
    }

    .section-p1{
        padding: 40px 80px;
    }

.container {
    max-width: 1180px;
    margin: auto;
    padding: 0 16px;
    color: #ddd;
    font-size: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background: #0a7486;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


header .logo img {
    height: 70px;
    width: 70px;
}
header input[type="text" i] {
    padding: 1px 2px;
}

header nav {
    display: inline-block;
    
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #ece5e5;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #13dd7f;
}

header nav ul li:last-of-type a {
    margin-right: 0;
}
/*banner START*/

/*banner end*/
/*Books section start*/

  
/*Books section end*/

/*fOOTER START*/
footer .bottom-nav {
    padding: 60px 0;
    background-color: #0a7486;
   
}

footer .bottom-nav .container {
    max-width: 955px;
    display: flex;
    justify-content: space-between;
}
footer .bottom-nav ul {
    list-style: none;
    display: flex;
  flex-direction: column;
}

footer .bottom-nav ul li a {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #e0e0e0;
    text-decoration: none;
    display: block;
}

footer .bottom-nav ul li a:hover {
    color: #13dd7f;
}


footer .bottom-nav ul .list-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
}

footer .copyright-text {
    color: white;
    background-color: #0a7486;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22px;
}
/*fOOTER END*/


   
/*books category*/

  /*books category*/
  /*conatct us start*/
*{
    margin: 0;
    padding: 0;
}
section.prodetails {
background-color:white;
font-size: 14px;
text-align: left;
}
.contact{
    width :90%;
    margin: 20px auto;

}
.contact-box{
    background: #fff;
    display: flex;

}
.contactboxleft{
    flex-basis: 40%;
    padding:40px 60px;
    background-color:  #c1f0f8;
    border: 1px solid gray;
    text-align: center;
    
   
    
}
.contactboxleft img{
    height: 300px;
    width: 250px;
    align-items: center;
    border: 2px solid gray;
    
}

.contactboxright{
    flex-basis: 60%;
    padding:40px;
    background-color:#c1f0f8;
    color: black;

}
.btn2{
    display: flex;
    justify-self: unset;

}
.btn2 input {
    height: 30px;
    width: 100px;
    color: black;
    background-color: #0a7486;
    border-radius: 3px;
}


.contact p{
    margin-bottom: 20px;
}




.contactboxleft h3{
color: #1c00b5;
font-weight: 600;
margin-bottom: 30px;
text-align: center;
}

.contactboxrigt h3{
    
    font-weight: 600;
    margin-bottom: 30px;
    }
    tr td:first-child{
        padding-right: 20px;
    }
    tr td {
        padding-top: 20px;
    }
    /*conatct us end*/
     /*PRO START*/

    #prodetails.single-pro-image{
        width: 40%;
        margin-right: 50px;
    }
    .small-imag-group{
        display: flex;
        justify-content: space-between;
    }
    /*PRO END*/